/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-size: 62.5%; /* 1rem === 10px */
    scroll-behavior: smooth;
    scroll-padding: 15vh 0;
} 

body {
    font-family: 'Poppins', sans-serif;
}

#content {
    /* scroll-snap-type: y mandatory; */
}

h1 {
    font-size: 2.8rem;
}

li, button, label, input, p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4, h5 {
    font-size: 2.8rem;
} 

a {
    color: white;
    text-decoration: none;
} 

button {
    padding: 2rem 6rem;
    background: #4C6E97;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.25s ease-in-out;
} 

button:hover {
    background: #27394e;
}

/* Nav Section */
.main-head {
    background-color: #131C27;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 3;
} 

nav {
    min-height: 10vh;
    padding: 2rem;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}

#logo {
    flex: 2 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: normal;
} 

/* Hero Section */
.hero {
    scroll-snap-stop: always;
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('/assets/imgs/landing-page.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.hero h2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.hero h3 { 
    padding: 5rem;
} 

/* Locations Section */
#locations {
    scroll-snap-stop: always;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('/assets/imgs/new-york-page.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
} 

.locations-head {
    width: 90%;
    margin: auto;
} 

.locations-head h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5;
}

.locations-head h3 {
    padding: 4rem 0rem;
    /* background: linear-gradient(#131c27, #422d2a);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
} 

.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
    pointer-events: none;
} 

.moving-cloud-1 {
   animation: cloudAnimation 3s infinite alternate ease-in-out;
} 

.moving-cloud-2 {
    top: 17%;
    z-index: -1;
    opacity: 0.5;
    animation: cloudAnimation 3.5s infinite alternate ease-in-out;
} 

@keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(0%, 0%);
    }
} 

/* Benefits Section */
#benefits {
    scroll-snap-stop: always;
}

.benefits-head {
    background: rgba(19, 28, 39, 0.9);
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
} 

.benefits-head h2 {
    padding-bottom: 3rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5;
    padding-top: 2rem;
}

.benefits-head h3 {
    padding: 1rem;
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
}

.cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.card-icon {
    background-color: #27394e;
    min-height: 10vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.cards img {
    max-width: 15%;
    margin: 2rem;
}

.card-title {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 2rem;
} 

.card-desc {
    width: 80%;
    margin: auto;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: 2rem;
}  

/* Contact Section */
#contact {
    scroll-snap-stop: always;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('/assets/imgs/contact-mountain.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.form-wrapper {
    background: rgba(19, 28, 39, 0.8);
    width: 60%;
    color: white;
    border-radius: 10px;
} 

.form-head {
    text-align: center;
    padding: 4rem;
}

.name-form, .email-form, .message-form {
    padding: 3rem;
    text-align: center;
}

.name-form label, .email-form label, .message-form label {
    width: 25%;
}

.name-form input, .email-form input, .message-form textarea {
    width: auto;
} 

.form-wrapper label {
    margin: 0rem 3rem;
}

.form-wrapper button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-wrapper input {
    padding: 1rem 3rem;
    border-radius: 10px;
    width: 50%;
}

.name-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} 

.name-form label {
    text-align: right;
}

.email-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} 

.email-form label {
    text-align: right;
}

.message-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} 

.message-form label {
    text-align: right;
}

.message-form textarea {
    padding: 2rem 0;
    border-radius: 10px;
    width: 50%;
}

/* Footer */

footer {
    color: white;
    background: rgba(19, 28, 39, 1);
} 

.footer-wrapper {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
} 

#footer-logo {
    font-family: 'Pattaya', sans-serif;
    font-weight: normal;
} 

footer h5 {
    flex: 1 1 40rem;
    width: 50%;
    
}

footer ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-evenly;
    align-items: center;
}

/* Media Queries */
@media screen and (max-width: 933px) {
    html {
        font-size: 45%;
    }

    .benefits-head h2 {
        text-decoration: none;
    }

    .cloud {
        height: 40rem;
    }

    .moving-cloud-1 {
        z-index: -1;
    }

    .moving-cloud-2 {
        z-index: -2;
        top: 10%;
    } 

    .locations-head h3 { 
        background: rgba(19, 28, 39, 0.9);
        -webkit-text-fill-color: white;
        padding: 2rem;
        margin-top: 5rem;
    }  

    .cards {
        padding: 4rem 0rem;
    }

    .form-wrapper {
        width: 90%;
        margin: 15% auto;
    } 

    .name-form, .email-form, .message-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .name-form label, .email-form label, .message-form label {
        text-align: center;
        padding-bottom: 2rem;
    } 

    .name-form input, .email-form input, .message-form textarea {
        width: 80%;
    } 

    footer {
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 

    footer h5 {
        padding-bottom: 3rem;
    } 
}

@media screen and (max-width: 671px) {
    nav { 
        text-align: center;
    }

    #logo {
        padding-top: 1rem;
        padding-bottom: 2rem;
    } 

    footer h5 {
        padding-bottom: 4.5rem;
    } 
} 










